<div class="row">
  <div class="col-md-12">
    <img src="{{selectedDoctor?.imagePath}}" alt="" class="img-fluid" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{selectedDoctor?.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success">Message User</button>
    <button class="btn btn-primary">Add a public Comment</button>
    <button class="btn btn-danger">Block</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <p>{{selectedDoctor?.description}}</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    Comments
  </div>
</div>
